<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
<head>
    <th:block th:replace="~{core/head :: head}"></th:block>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.css" rel="stylesheet">
    <link
            rel="stylesheet"
            href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.1-dev/mapbox-gl-geocoder.css"
            type="text/css"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.1-dev/mapbox-gl-geocoder.min.js"></script>
</head>
<body>
    <nav class="navbar"></nav>
    <div class="container">
        <div id="map" th:data-mapbox-token="${mapboxToken}"></div>
        <div class="map-filters">
            <h3>Filter schools by...</h3>
            <form id="filter-options">
                <div class="filter-option">
                    <label for="ages">Ages: </label>
                    <select name="ages" id="ages">
                        <option value="all" selected="">All</option>
                        <option value="primary">Primary</option>
                        <option value="secondary">Secondary</option>
                        <option value="sixth_form">Sixth-Form</option>
                    </select>
                </div>
                <div class="filter-option">
                    <label for="gender">Gender: </label>
                    <select name="gender" id="gender">
                        <option value="mixed" selected="">Mixed</option>
                        <option value="boys">Boys</option>
                        <option value="girls">Girls</option>
                    </select>
                </div>

                <div class="filter-option">
                    <label for="ofsted-rating">Rating: </label>
                    <select name="ofsted_rating" id="ofsted-rating">
                        <option value="0" selected="">Any</option>
                        <option value="1">Outstanding</option>
                        <option value="2">Good</option>
                        <option value="3">Requires Improvement</option>
                        <option value="4">Inadequate</option>
                    </select>
                </div>

                <div class="filter-option">
                    <label for="religious-affiliation">Religious Affiliation: </label>
                    <select name="religious-affiliation" id="religious-affiliation">
                        <option value="any" selected="">Any</option>
                        <option value="coe">Church of England</option>
                        <option value="catholic">Catholic</option>
                        <option value="jewish">Jewish</option>
                        <option value="muslim">Muslim</option>
                    </select>
                </div>

            </form>
        </div>
    </div>
    <script>
        const protocol = window.location.protocol;
        const root = window.location.host;

        function fetchCoordinatesFromBrowser() {
            const defaultCoordinates = [-0.118092, 51.509865]; // London

            return new Promise((resolve, reject) => {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(
                        (position) => {
                            resolve([
                                position.coords.longitude,
                                position.coords.latitude
                            ]);
                        },
                        (error) => {
                            console.error('User refused to share location:', error);
                            resolve(defaultCoordinates);
                        }
                    );
                } else {
                    resolve(defaultCoordinates);
                }
            });
        }

        async function initializeMap() {
            mapboxgl.accessToken = document.getElementById('map').dataset.mapboxToken;
            const coordinates = await fetchCoordinatesFromBrowser();

            const map = new mapboxgl.Map({
                container: 'map',
                center: coordinates,
                zoom: 14
            });

            const homeMarker = new mapboxgl.Marker() // initialize a new marker
                .setLngLat(coordinates)
                .addTo(map);

            const geocoder = new MapboxGeocoder({
                accessToken: mapboxgl.accessToken, // Set the access token
                mapboxgl: mapboxgl, // Set the mapbox-gl instance
                marker: false, // Do not use the default marker style
                placeholder: 'Find schools near...',
                bbox: [-0.489, 51.28, 0.236, 51.686], // Boundary for London
                proximity: {
                    longitude: -0.118092,
                    latitude: 51.509865
                } // Coordinates for Islington
            });

            map.addControl(geocoder);

            geocoder.on('result', (event) => {
                const newCoordinates = event.result.geometry.coordinates;
                homeMarker.setLngLat(newCoordinates);

                map.flyTo({
                    center: newCoordinates,
                    zoom: 14
                });
            });
            const filterCriteria = {
                ages: document.getElementById('ages').value,
                gender: document.getElementById('gender').value,
                rating: parseInt(document.getElementById('ofsted-rating').value),
                affiliation: document.getElementById('religious-affiliation').value
            }

            console.log(map);

            fetch(`${protocol}//${root}/schools/api`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(filterCriteria)
            })
            .then(response => response.json())
            .then(schools => {
                schools.forEach(school => {
                    const coords = [school.longitude, school.latitude];
                    console.log(`adding a new marker at lng-lat: ${coords}`);
                    new mapboxgl.Marker() // initialize a new marker
                        .setLngLat(coords)
                        .addTo(map);
                });
            });
            return map;
        }

        async function addSchoolMarkers(map) {
            // To-do: make this its own function
            return;
        }

        const map = initializeMap();
        addSchoolMarkers(map);
    </script>

</body>
</html>
