<div id="school-info">
  <h3 th:text="${school.name}"></h3>
  <div id="top-review" th:if="${topReview}">
    <p th:text="${topReview.review.content}"></p>
  </div>

  <div th:if="${distanceFromUser}">
    <p>Distance: <span th:text="${#numbers.formatDecimal(distanceFromUser, 1, 4)}"></span> mi.</p>
    <table>
      <tr>
        <th>Year</th>
        <th>Catchment radius (mi.)</th>
        <th>Within catchment?</th>
      </tr>
      <tr th:each="data : ${school.catchmentRadius}">
        <td th:text="${data.year}"></td>
        <td th:text="${data.radius}"></td>
        <td th:text="${distanceFromUser <= data.radius ? 'yes' : 'no'}"></td>
      </tr>
    </table>
  </div>

  <div id="nearby-schools">
    <div class="nearby-school" th:each="nearbySchool : ${nearbySchools}">
      <p th:text="${nearbySchool.name}"></p>
      <p th:text="${nearbySchool.address}"></p>
      <p th:text="${nearbySchool.distance}"></p>
    </div>
  </div>
</div>
