<div id="school-info">
  <div id="back-button">
    <a href="/">
      <i class="fa-solid fa-arrow-left"></i>
    </a>
  </div>

  <form sec:authorize="isAuthenticated()"  th:replace="~{schools/like-button :: form}"></form>

  <div>
    <h3 class="info-name" th:text="${school.name}"></h3>
    <p th:text="${school.address}"></p>
  </div>
  <div class="info-bar">
    <p>
      <span th:text="${#strings.capitalize(school.type)}"></span> · <span th:text="${#strings.capitalize(school.gender)}"></span>
    </p>
    <p th:text="${school.religiousAffiliation == 'coe' ? 'Church of England' : #strings.capitalize(school.religiousAffiliation)}"></p>
  </div>

  <div id="top-review" th:if="${topReview}">
    <p>“<span th:text="${topReview.content}"></span>”</p>
    <h5>Posted by <span th:text="${topReview.username}"></span> <span th:text="${topReview.timeAgo}"></span> · <span th:text="${topReview.upvotes}"></span> upvotes</h5>
  </div>

  <div>
    <div class="flex">
      <p>Ofsted rating:&nbsp</p>
      <strong>
        <span th:if="${school.ofstedRating == 0}" class="text-blue">Not available</span>
        <span th:if="${school.ofstedRating == 1}" class="text-inadequate">Inadequate</span>
        <span th:if="${school.ofstedRating == 2}" class="text-improvement">Needs Improvement</span>
        <span th:if="${school.ofstedRating == 3}" class="text-good">Good</span>
        <span th:if="${school.ofstedRating == 4}" class="text-outstanding">Outstanding</span>
      </strong>
    </div>
    <h5 class="flex"><a th:href="${school.ofstedUrl}" target="_blank"><i class="fa-solid fa-download"></i></a>&nbspdownload latest Ofsted report</h5>
  </div>

  <div th:if="${distanceFromUser}">
    <p id="distance-info">Distance: <span th:text="${#numbers.formatDecimal(distanceFromUser, 1, 4)}"></span> mi.</p>
    <table id="catchment-table">
      <tr>
        <th>Year</th>
        <th>Catchment radius (mi.)</th>
        <th>Within catchment?</th>
      </tr>
      <tr th:each="data : ${school.catchmentRadius}">
        <td th:text="${data.year}"></td>
        <td th:text="${data.radius < 0 ? 'n/a' : data.radius}"></td>
        <td th:if="${distanceFromUser <= data.radius || data.radius < 0}" class="text-outstanding">yes</td>
        <td th:unless="${distanceFromUser <= data.radius || data.radius < 0}" class="text-inadequate">no</td>
      </tr>
    </table>
  </div>

  <div th:unless="${distanceFromUser}">
    <table id="catchment-table">
      <tr>
        <th>Year</th>
        <th>Catchment radius (mi.)</th>
      </tr>
      <tr th:each="data : ${school.catchmentRadius}">
        <td th:text="${data.year}"></td>
        <td th:text="${data.radius < 0 ? 'n/a' : data.radius}"></td>
      </tr>
    </table>
  </div>

  <p th:if="${school.website}" id="school-website">Website: <a th:href="${school.website}" th:text="${school.website}"></a></p>

  <div id="nearby-schools">
    <h3>Nearby <span th:text="${school.type}"></span> schools:</h3>
    <div class="nearby-school" th:each="nearbySchool : ${nearbySchools}">
      <a th:href="'/schools/' + ${nearbySchool.id}" class="action-button"><i class="fa-solid fa-angle-right"></i></a>
      <div>
        <p th:text="${nearbySchool.name}"></p>
        <h6><span th:text="${nearbySchool.address}"></span> (<span th:text="${#numbers.formatDecimal(nearbySchool.distance, 1, 4)}"></span> mi.)</h6>
      </div>
    </div>
  </div>
</div>
