<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

    <th:block th:replace="~{core/head :: head}"></th:block>
    <link rel="stylesheet" href="/css/profile.css" />
    <link rel="stylesheet" href="/css/school-details.css" />
    <link rel="stylesheet" href="/css/review.css" />
</head>
<body>

<nav th:replace="~{core/navbar :: div}"></nav>

<div class="page-body">

    <div class="profile-container">

        <div class="card user-profile-card">
            <h2>User Profile</h2>
            <div class="card-body">
                <p><strong>Username:</strong> <span th:text="${profileUser.username}">Username</span></p>
                <p><strong>Address:</strong> <span th:text="${profileUser.address}">Address</span></p>
            </div>
        </div>


        <div class="card saved-schools-card">
            <h2>Saved Schools</h2>
            <div class="card-body">
                <div th:if="${savedSchools.isEmpty()}">
                    <p>No saved schools found.</p>
                </div>
                <div th:each="school : ${savedSchools}" class="school">

                    <a th:href="'/schools/' + ${school.id}" class="action-button">
                        <i class="fa-solid fa-angle-right"></i>
                    </a>

                    <div>
                        <h3 th:text="${school.name}">School Name</h3>
                        <p th:text="${school.address}">School Address</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="card your-contributions-card">
            <h2>Your Contributions</h2>
            <div class="card-body">
                <div th:if="${userReviews.isEmpty()}">
                    <p>No contributions found.</p>
                </div>
                <div th:each="review : ${userReviews}" class="review">

                    <a th:href="'/schools/' + ${review.schoolId}" class="action-button">
                        <i class="fa-solid fa-angle-right"></i>
                    </a>

                    <div>
                        <p><strong>Review for:</strong> <span th:text="${review.school.name}">School Name</span></p>
                        <p th:text="${review.content}">Review Content</p>
                        <p><strong>Role:</strong> <span th:text="${review.role}">Reviewer's Role</span></p>
                        <p><strong>Created:</strong> <span th:text="${review.timeAgo}">Time Ago</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{users/feed :: div}"></div>
</div>
</body>
</html>
