/* Profile Page Container */
.profile-container {
    padding: 32px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 624px;
    box-sizing: border-box;
}

.page-body {
    display: flex;
    height: auto;
}


.card {
    box-sizing: border-box;
}


.card h2 {
    color: var(--deep-blue);
    font-size: 32px;
    margin-bottom: 24px;
}


.card-body p {
    font-size: 18px;
    color: var(--dark-text);
    line-height: 1.6;
}



.card-body .empty-message {
    font-style: italic;
    color: var(--grey-blue);
}


.school, .review {
    margin-bottom: 20px;
}


.card-body .review p {
    font-size: 20px;
    color: var(--dark-text);
}

/* Responsive Design for smaller screens */
@media (max-width: 768px) {
    .profile-container {
        padding: 16px;
    }

.card {
        padding: 40px;
        width: 100%;
        min-height: 300px;
    }


.card h2 {
        font-size: 26px;
    }

.card-body p {
        font-size: 16px;
    }
}



.school, .review {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
}

.action-button {
    flex-shrink: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    color: var(--action-red);
    border: 1px solid var(--action-red);
}

.action-button:hover {
    background-color: var(--white);
    color: var(--grey-blue);
    border: 1px solid var(--grey-blue);
}

.user-profile-card .card-body p {
    font-size: 32px; /* Adjust the paragraph text size */
}


.user-profile-card h2 {
    font-size: 40px; /* Adjust the header size */
}

.saved-schools-card h2 {
    font-size: 40px; /* Adjust the header size */
}

.your-contributions-card h2 {
    font-size: 40px; /* Adjust the header size */
}

.user-profile-card {
    background-color: var(--parchment);
    width: 100%;
    max-width: 1800px;
    padding: 48px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 32px;
    min-height: 400px;
    box-sizing: border-box;
}