.page-body {
    display: flex;
}

.page-body > div {
    min-height: calc(100vh - 120px);
}

.school-info {
    background-color: var(--white);
    width: 624px;
}

.school-forum {
    flex-grow: 1;
    background-color: var(--salmon);
}