:root {
    --dark-text: #071E22;
    --deep-blue: #1D7874;
    --grey-blue: #679289;
    --salmon: #F4C095;
    --action-red: #EE2E31;
    --parchment: #F4ECD6;
    --white: #F7F7F2;
    --rating-outstanding: #2A7221;
    --rating-good: #8AC926;
    --rating-needs-improvement: #FBAF00;
    --rating-inadequate: #EE2E31;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 42px;
    line-height: 42px;
}

h2 {
    font-size: 24px;
    font-weight: normal;
}

h3 {
    font-size: 18px;
    font-weight: bold;
}

h4 {
    font-size: 16px;
    font-weight: bold;
    color: var(--dark-text);
}

h5 {
    font-size: 14px;
    font-weight: bold;
    color: var(--grey-blue);
}

h6 {
    font-size: 14px;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: unset;
}

.hidden {
    display: none !important;
}

.anchor {
    position: relative;
}

.flex {
    display: flex;
    align-items: center;
}

.border-none {
    border: none !important;
}

.action-button {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    color: var(--action-red);
    border: 1px solid var(--action-red);
}

.action-button:hover {
    background-color: var(--white);
    color: var(--grey-blue);
    border: 1px solid var(--grey-blue);
}

/* TEXT STYLES */
.text-white {
    color: var(--white);
}
.text-salmon {
    color: var(--salmon);
}
.text-blue {
    color: var(--deep-blue);
}
.text-inadequate {
    color: var(--rating-inadequate);
}
.text-improvement {
    color: var(--rating-needs-improvement);
}
.text-good {
    color: var(--rating-good);
}
.text-outstanding {
    color: var(--rating-outstanding);
}

/* NAVBAR */
.navbar {
    position: fixed;
    height: 104px;
    width: 100vw;
    background-color: var(--grey-blue);
    padding: 0 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 6;
    box-sizing: border-box;
}

.nav-spacer {
    height: 104px;
    width: 100vw;
}

.menu-button {
    height: 72px;
    width: 72px;
    position: relative;
    background-color: var(--white);
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-button > i {
    color: var(--grey-blue);
    font-size: 48px;
}

#menu-options {
    position: absolute;
    top: 96px;
    right: -40px;
    margin: 0;
    padding: 0;
}

#menu-options > li {
    width: 200px;
    list-style: none;
    background-color: var(--parchment);
    border: solid var(--dark-text);
    border-width: 0 1px 1px;
}

#menu-options > li:first-child {
    border-width: 1px;
}

#menu-options a {
    display: block;
    padding: 8px;
}

#menu-options > li:hover {
    background-color: var(--salmon);
}

.Banner {
    border: solid black 2px;
}
