<form th:action="@{/questions}" class="input-card" th:object="${newQuestion}" method="POST">
    <input type="hidden" th:attr="name='schoolId'" th:value="${school.id}">
    <input type="hidden" th:attr="name='userId'" th:value="${userId}">
    <input type="hidden" th:attr="name='createdAt'" th:value="${null}">
    <input type="text" class="new-question-input"
        th:field="*{content}"
        th:placeholder="'Ask a question about ' + ${school.name} + '...'"
    />
    <button type="submit" class="input-submit">
        <i class="fa-solid fa-arrow-turn-up rotated-icon"></i>
    </button>
</form>

