<div class="card" xmlns:th="http://www.w3.org/1999/xhtml">
    <form sec:authorize="isAuthenticated()" th:replace="~{questions/like-button :: like-button(questionId=${question.id}, likedQuestionIds=${likedQuestionIds})}"></form>
    <h5 th:text="${question.username} + ' · ' + ${question.timeAgo}"></h5>
    <h3 th:text="${question.content}"></h3>
    <h5 th:text="${question.likes} + ' likes · ' + ${question.answers.size()} + ' answers · last answered ' + ${question.answeredAgo}"></h5>

    <div th:if="${question.answers.size() > 0}" th:with="answer=${question.answers[0]}" th:id="'answers-container-' + ${question.id}" class="answers-container">
        <div th:replace="~{answers/best-answer :: div}"></div>
        <div th:if="${question.answers.size() > 1}">


            <div class="hidden" th:id="'expanded-answers-container-' + ${question.id}" >
                <div sec:authorize="isAuthenticated()" th:replace="~{answers/new :: form}"></div>
                <div th:each="answer, iterStat: ${question.answers}" th:unless="${iterStat.index == 0}" th:insert="~{answers/answer :: div}"></div>
            </div>
            <div class="view-more-wrapper">
                <button th:onclick="'toggleAnswers(' + ${question.id} + ')'">View more</button>
            </div>
        </div>
    </div>


    <script>
        function toggleAnswers(questionId) {
            const answersContainer = document.getElementById(`expanded-answers-container-${questionId}`);
            answersContainer.classList.toggle('hidden');
            const toggleButton = document.querySelector(".view-more-wrapper button");
            if (! answersContainer.classList.contains('hidden')) {
                toggleButton.innerText="View less"
            } else {
                toggleButton.innerText="View more"
            }
        }

    </script>
</div>
