<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/question.css}" rel="stylesheet">
    <title th:text="${question.content}"></title>
</head>
    <body>
    <a th:href="@{/schools/{schoolId}(schoolId=${question.schoolId})}">
        <button class="BackButton">Home</button>
    </a>
    <div class="QuestionInfo">
        <span th:text="${question.content}"></span>
        <br>
        <span th:text="${username}"></span>

        <div class="answerPreview">
            <span th:text="${answers[0].content.substring(0, 20}"></span> <!-- Shows the first 100 characters -->
            <span th:text="${answers.size() > 0 ? '...' : ''}"></span> <!-- Adds ellipsis if answer is longer -->
        </div>
    </div>

    </body>
</html>